# Python
__pycache__/
*.pyc

# STM32CubeIDE 构建产物
Debug/
Release/
*.o
*.d
*.elf
*.map
*.bin
*.list

# CMake / Ninja 构建产物
build/
CMakeFiles/
CMakeCache.txt
cmake_install.cmake

# 编辑器
.vscode/
.DS_Store
